html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 5px;
}

button {
  outline: none;
  font-weight: 700;
  margin-left: 10px;
  cursor: pointer;
  padding: 1rem;
  border-radius: 15px;
}
.button_container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-container {
  margin: 10px 30%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-container img {
  cursor: pointer;
  height: 300px;
  width: 300px;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#lightbox img {
  width: 200px;
  height: 200px;
  padding: 4px;
  border: 5px solid white;
}

.pic_info {
  display: flex;
  flex-direction: column;
  color: #fafafa;
}

#lightbox span {
  display: flex;
  flex-direction: column;
  color: #fafafa;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 20px;
  }

  #lightbox img {
    width: 500px;
    height: 500px;
    padding: 4px;
    border: 5px solid white;
  }
}
